
body{
	width:100%;
	height: 100%;
	background: #DCE2F3;
    font-family: "微软雅黑";
}
*{
	padding:0;
	margin:0;
	list-style: none;
}
.box{
	position: relative;
	width:800px;
	height:600px;
	margin:0 auto;
	background:url(image/bg1.jpg) center center repeat;
}
.logo{
	width: 267px;
    height: 100px;
    background-image: url(image/logo.png);
    background-size: 100% 100%;
    opacity: 0.7;
    margin: 10px 20px;
}
.menu{
	width: 120px;
    height: auto;
    position: absolute;
    left: 25px;
    top: 150px;
    font-size: 20px;
    font-weight: 300;
    color: #8B521B;
}
.menu ul li{
	width: 120px;
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    background: url(image/xue.jpg) -14px -234px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #952C34;
}
.menu ul li:hover{
	background: url(image/xue.jpg) -14px -324px;
}
.jieshao{
	display: none;
    width: 110px;
    font-size: 12px;
    color: #272822;
    background: white;
    margin-bottom: 20px;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 8px #D1B795 inset;
}
.score-time{
	width: 304px;
    height: 60px;
    position: absolute;
    right: 60px;
    top: 60px;
}
.score-time div{
	width: 140px;
    height: 40px;
    float: left;
    background: white;
    margin-bottom: 20px;
    border-radius: 40px;
    box-shadow: 1px 1px 10px 1px #575757 inset;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #6C6C67;
    text-shadow: 1px 1px 2px #4D4636;
}
.score-time .time{
	float:right;
}
.font{
	color:#D81F2C;
}
.dangqian{
	width: 110px;
    height: 45px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background: url(image/xue.jpg) -540px -10px;
    cursor: pointer;
    /*text-shadow: 1px 1px 2px #952C34;*/
    position: absolute;
    left: 185px;
    top: 141px;
    z-index: 100;
    font-weight: 400;
}
.dangqian .font{
    font-size:20px;
    color: #D81F2C;
    margin-left:2px;
}
.shengyu .font{
    font-size:20px;
    color: #D81F2C;
}
.shengyu{
	width: 110px;
    height: 45px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background: url(image/xue.jpg) -545px -10px;
    cursor: pointer;
    /*text-shadow: 1px 1px 2px #952C34;*/
    position: absolute;
    right: 60px;
    top: 141px;
    z-index: 100;
}
.scence{
	width: 600px;
    height: 450px;
    background-image: url(image/kuang.png);
    background-size: 100% 100%;
    position: absolute;
    left: 160px;
    bottom: 85px;
}
.pai{
  position: absolute;
  top:0;
  left:400px;
  width:70px;
  height:100px;
  border-radius:3px;
  background-size: 100%;
  opacity: 0;
}
.move{
	position: absolute;
    width: 36px;
    height: 36px;
    top: 330px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 100;
}
.move-right:hover{
	background: url(image/xue.jpg) -300px -60px;
}
.move-right{
    left: 305px;
    background: url(image/xue.jpg) -335px -147px;
}
.move-left{
	left: 260px;
    background: url(image/xue.jpg) -335px -60px;
}
.move-left:hover{
    background: url(image/xue.jpg) -300px -147px;
}